    body {
      font-family: 'Open Sans', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f7f7f7;
      color: #333;
    }

    header {
      background: linear-gradient(90deg, #2347A9, #010B28);
      color: white;
      padding: 1rem;
      text-align: left;
    }	

	.centraliza {
      display: flex;
      flex-wrap: wrap;
	  align-items: center;
	  justify-content: center;
	  gap: 1.5em;
	  width: 100%;
	  margin-bottom: 2em;
	}

	.titulo {
	  font-size: 1.5em;
	  white-space: nowrap;
	  margin: 0;
	}

	.lnk {
   	  display: inline-flex;
	  align-items: center;
	  gap: 0.5em;
	  margin: 0;
	  color: #333;
	  font-size: 1.15em;
	  text-decoration: none;
	  white-space: nowrap;
	}

	.lnk:hover {
	  font-weight: bold;
	}

	.fade-img {
		position: relative;
		width: 1400px;
		height: 350px;
		background: url('banner.png') center/cover no-repeat;
		overflow: hidden;
	}

	.fade-img::after {
		content: "";
		position: absolute;
		inset: 0;

		background: linear-gradient(to right,
			rgba(0,0,0,0) 20%,
			rgba(0,0,0,0.50) 50%,
			rgba(0,0,0,0.70) 90%
		);

		mix-blend-mode: multiply;
		pointer-events: none;
	}

    header h1 {
      margin: 0rem 0rem 0.5rem 0rem;
    }

    header h2 {
      margin: 0.1rem 0;
    }

	.about {
	  display: flex;
	  align-items: flex-start;
	  gap: 2rem;
	  padding: 1rem 1rem;
	  max-width: 1100px;
	  margin: 0 auto;
	  flex-wrap: nowrap;
	  text-align: left;
	  flex-wrap: wrap;
	}

	.colunas {
	  display: flex;
	  align-items: flex-start;
	  justify-content: space-between;
	  gap: 2rem;
	  padding: 0rem;
	  max-width: 100%;
	  flex-wrap: nowrap;
	  flex-wrap: wrap;
	}

	.profile {
	  display: flex;
	  width: 220px;
	  height: 220px;
	  border-radius: 50%;
	  object-fit: cover;
	  flex-shrink: 0;
	}

	.about-text {
	  flex: 1;
	  order: 2;
	}

	.about p {
      margin-top: 0.4em;
      flex: 1;
      font-size: 1.1rem;
      line-height: 1.4;
      margin-bottom: 1.3em;
    }

	.projects {
	  max-width: 1100px;
	  margin: 0 auto;
	  padding: 2rem 1rem;
	}

	.projects h2 {
	  text-align: center;
	  margin-bottom: 2rem;
	}

	.projects-container {
	  display: grid;
	  grid-template-columns: repeat(auto-fit, minmax(280px, 350px));
	  gap: 1.5rem;
	  justify-content: center;
	  width: 100%;
	}

	.project-card {
	  background-color: #f5f5f5;
	  padding: 1.5rem;
	  border-radius: 8px;
	  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.50);
	  display: flex;
	  flex-direction: column;
	  justify-content: space-between;
	}

	.project-card h3 {
	  margin-top: 0;
	  margin-bottom: 0.5rem;
	}

	.project-card .techs {
	  font-size: 1rem;
	  font-weight: bold;
	  color: #000;
	  border-radius: 6px;
	  background-color:rgb(86, 209, 247);
	  text-align: center;
	  padding: 0.2em;
	  margin: 0rem;
	}

	.project-card .desc {
	  flex-grow: 1;
	  margin-bottom: 1rem;
	}
	
	.project-card a {
	  color: inherit;
	  font-weight: bold;
	  text-decoration: none;
	  display: inline;
	  position: static;
	}

	.project-card a:hover {
	  text-decoration: underline;
	}

	.project-card a:visited {
	  color: inherit;
	}

    footer {
      text-align: center;
      padding: 0.1rem;
      background-color: #ddd;
      margin-top: 0.1rem;
      display: flex;
      justify-content: center;
      gap: 0.5em;
    }

	.github-link {
	  display: inline-flex;
	  align-items: center;
	  justify-content: center;
	  width: 40px;
	  height: 40px;
	  border-radius: 8px;
	  transition: transform 0.2s;
	}

	.github-link:hover {
	  transform: scale(1.1);
	}

	.github-link img {
	  width: 30px;
	  height: 30px;
	}

	.btn {
	  padding: 0.7rem 1rem;
	  background-color: #24292e;
	  color: white;
	  font-weight: bold;
	  text-decoration: none;
	  border-radius: 6px;
	  border-bottom: 3px solid #3a3f45;
	  border-right: 3px solid #3a3f45;  
	  transition: all 0.2s ease;
	  margin-right: 0.5em;
	  text-align: center;
	  display: inline-flex;
	  gap: 0.6em;
	}

	.btn img {
	  height: 20px;
	  width: 20px;
	  margin: 0px 0px 1px 0px;
	  padding: 0px;
	  vertical-align: middle;
	  align-items: center;
	  border-radius: 25%;
	}

	.btn span {
	  margin: 0px;
	  display: block;
	}	

	.btn:hover {
	  background-color: #444c56;
	  cursor:pointer;
	}

    .social-icons {
	  display: inline-flex;
	  align-items: center;
	  padding: 0.6rem 1rem;
	  border-radius: 5px;
	  gap: 1em;
	  transition: background-color 0.3s;
	}

	.sobre {
	  max-width: 1100px;
	  margin: 0 auto;
	  padding: 0.4rem 1rem;
	  line-height: 1.6;
	}

	.sobre p {
	  margin: 0.8em 0;
	  text-align: justify;
	}

	.sobre-frase {
	  margin: 1.5em 3em;
	  font-style: italic;
	  font-size: 1.05rem;
	  color: #555;
	  border-left: 4px solid #007acc;
	  padding-left: 1em;
	  line-height: 1.6;
	}

	.sobre-colapsado {
      max-height: 3.5em;
	  overflow: hidden;
	  position: relative;
	  transition: max-height 0.4s ease;
	}

	.sobre-colapsado::after {
	  content: "";
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  width: 100%;
	  height: 1.5em;
	  background: linear-gradient(to bottom, transparent, #fff);
	  pointer-events: none;
	}

	.sobre-colapsado.aberto {
	  max-height: 2000px;
	}

	.sobre-colapsado.aberto::after {
	  display: none;
	}

	.sobre-toggle {
  	  background: none;
	  border: none;
	  color: #007acc;
	  font-weight: bold;
	  cursor: pointer;
	  padding: 0.3rem 0;
	  font-size: 1rem;
	  display: block; 
	  margin: 0.5rem auto;
	  text-align: center;
	}

	.skills {
	  display: flex;
	  flex-wrap: wrap; 
	  justify-content: center;
	  align-items: center;
	  gap: 1em;
	  margin-top: 0em 0em 0em 0em;
	  padding: 0em 0em 0em 0em;
	}

	.skills img {
		width: 2.5em;
	}

	.modal {
		display: none;
		position: fixed;
		z-index: 9999;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.7);
		justify-content: center;
		align-items: center;
	}

	.modal-content-videos {
		background: #000;
		padding: 0;
		border-radius: 6px;
		min-width: 360px;
		max-width: 90%;
		padding: 0.2em;
		text-align: center;
	}

	.modal-content-fotos {
		background: #000;
		padding: 0;
		border-radius: 6px;
		max-width: 90%;
		min-width: 350px;
		padding: 1em 1em 0em 1em;
		text-align: center;
	}	

	.modal-content-videos video {
		width: 100%;
		height: auto;
	}

	.fechar-video,
	.fechar-foto {
		position: absolute;
		top: 20px;
		right: 30px;
		font-size: 30px;
		color: white;
		cursor: pointer;
	}

	.abrir-video,
	.abrir-fotos {
		display: inline-block;
		line-height: 0;
	}

	.abrir-video:hover,
	.abrir-fotos:hover {
	  transform: scale(1.1);
	}

	.abrir-video img {
		width: 30px; 
		height: 30px;
		display: block;
	}

	.icone-foto {
		width: 40px; 
		height: 40px;
		display: block;
	}

	#fotoAtual {
		max-width: 100%;
		height: auto;
		width: auto;
		display: block;
		margin: 0 auto;
		object-fit: contain;
	}

	.pub-project {
		max-width: 300px;
		margin-top: 0.2em;
	}

	@media (max-width: 600px) {
	  .projects-container {
		grid-template-columns: repeat(auto-fit, minmax(350px, 90%));
	  }

      .about {
		text-align: center;
		padding: 0rem 0rem;
      }

	  .btn span {
	    display: none;
	  }

	  .about-text {
		order: 1;
	  }

	  .skills {
		gap: 0.4em;
	  }

      .skills img {
		width: 1.9em;
	  }
	  
      .profile-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
		order: 2;
	  }	  
	}

	.modal-contato {
	  display: none;
	  position: fixed;
	  z-index: 9999;
	  inset: 0;
	  background: rgba(0,0,0,0.6);
	  justify-content: center;
	  align-items: center;
	}

	.modal-contato-content {
	  background: #fff;
	  padding: 1.8rem;
	  border-radius: 8px;
	  width: 80%;
	  max-width: 700px;
	  box-shadow: 0 0 18px rgba(0,0,0,0.3);
	  position: relative;
	  animation: fadeInContato 0.3s ease;
	}

	.fechar-contato {
	  position: absolute;
	  right: 14px;
	  top: 10px;
	  font-size: 26px;
	  cursor: pointer;
	}

	#contato, #assunto, #mensagem {
	  width: 95%;
	  border: 1px solid #ccc;
	  padding: 0.7rem;
	  border-radius: 6px;
	  margin-bottom: 1rem;
	  font-size: 1rem;
	}

	.btn-enviar-contato {
	  background: #2347A9; /* azul do header */
	  color: white;
	  padding: 0.7rem 1.3rem;
	  border: none;
	  border-radius: 6px;
	  cursor: pointer;
	  font-weight: bold;
	  width: 100%;
	  transition: 0.2s;
	}

	.btn-enviar-contato:hover {
	  background: #142d6b;
	}

	#feedback-contato {
	  font-weight: bold;
	  color: green;
	}

	button:disabled {
  	  opacity: 0.5;
  	  cursor: not-allowed;
	}

	@keyframes fadeInContato {
	  from { transform: translateY(-20px); opacity: 0; }
	  to { transform: translateY(0); opacity: 1; }
	}